@import 'config';
@import 'menu';
@import 'mobile';
@import 'footer';

@import 'utilities';

* {
    box-sizing: border-box;
}

body{
    @include homeBackground;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

main {
    border-bottom: 3px solid $secondary-color;
}

// headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
}

section {
    padding: 3rem 0;

    &.dark {
        background-color: $primary-color;
    }

    &.light{
        background-color: $section-light;
    }

    h1{
        text-align: center;
        margin: 0 0 3rem;
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;

    &:hover {
        color: $secondary-color;
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

.typed-cursor { font-size: 2rem; }

main {
    height: 100%;

    .social-icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            color: set-text-color($primary-color);

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        .hero{
            text-align: center;
            padding: 10rem 0;

            .sm-heading {
                padding: 0.2rem 1rem;
            }

            .typed-text {
                font-size: 2rem;
            }

            .social-icons {
                .icon {
                    display: inline-block;
                    padding: 7px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    margin: 0 10px;
                    // background-color: rgba($primary-color, $alpha: 0.25);
                    @include easeOut;
                    &:hover {
                        background-color: $secondary-color;
                        color: #fff;
                        transform: translateY(-3px);
                    }
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.works {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .project {
        flex-grow: 1;
        position: relative;
        float: left;
        overflow: hidden;
        background-color: $primary-color;
        text-align: center;
        cursor: pointer;
        margin: 0;

        &:hover {
            img {
                opacity: 0.4;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0) scale(1.08);

            }
            figcaption::before,
            p {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
            h2,
            figcaption {
                opacity: 1;
            }
        }

        img {
            position: absolute;
            top: -12px;
            left: -12px;
            max-width: none;
            width: -webkit-calc(100% + 60px);
            width: calc(100% + 60px);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }

        h2 {
            padding: 10px 0 0 0;
            opacity: 0;
            font-size: 2rem;
        }

        figcaption {
            text-align: left;
            position: absolute;
            bottom: 10%;
            left: 10%;
            margin: 0 auto;
            opacity: 0;
        }

        p {
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-10px,0,0);
            transform: translate3d(-10px,0,0);
            margin: 0;
        }
    }
}

footer {
    .container {
        .column {
            width: 33.3%;
        }
    }
}